body {
    background-image: url("doodles.png");
}


/*end*/
/*radio buttons to chose type of ice */
.radio-toolbar {
    margin: 0;
}

.radio-toolbar input[type="radio"] {
    display: none;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #66ccff;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 40px;
    border: 2px solid #444;
    border-radius: 4px;
    text-align: center;
    width: 47%;
    cursor: pointer;
    overflow: hidden;


}

.radio-toolbar label:hover {
    background-color: #dfd;
}

.radio-toolbar input[type="radio"]:focus + label {
    border: 2px dashed #444;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
}

/*end*/


/*checkbox to add flavoures*/
.flavour-toolbar {
    margin: 10px;
}

.flavour-toolbar input[type="checkbox"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.flavour-toolbar label {
    display: inline-block;
    background-color: #ddd;
    border: 2px solid #444;
    border-radius: 4px;
    width: 140px;
    height: 130px;
    overflow: hidden;
    font-size: 20px;
    text-align: center;
    padding-top: 45px;
    margin: 0;
}


.flavour-toolbar input[type="checkbox"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
    opacity: 1;
}

input[name=flavour]:disabled ~ label {
    opacity: 0.2;

}

/*end*/


#paybutton {
    height: 60px;
    width: 110px;
    font-size: 30px;
}

#div_id_content ul {
    list-style-type: none;
    padding: 0;
    margin-left: 4px;
}

#finish-order-btn {
    width: 50%;
    height: 70px;
}

/*buttons plus minu qunter /*quantty change*/

#id_quantity {
    vertical-align: middle;
    font-weight: 700;
    min-width: 35px;
    border: none;
    font-size: 48px;
    width: 100%;
    text-align: inherit;

}

.add-odd-button {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    font-size: 40px;
    color: #444444;
    cursor: pointer;

}


.minus:hover {
    background-color: #717fe0 !important;
}

.plus:hover {
    background-color: #717fe0 !important;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/*end*/



#form-to-quantity
{
    min-width: 158px;
}

/* tabel for finishing order */


#flavoure-cell
{
    padding: 2px 2px 2px 2px;
    /*max-width: 20%;*/
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/

}

.table-head-names th
{
    padding: 2px 2px 2px 2px;
    text-align: center;

}

/* end */