<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LynxWasp</title>
    {% load static %}
    {% load cloudinary %}

    <!--- jquery--->
    {#    <script#}
    {#            src="https://code.jquery.com/jquery-3.4.1.min.js"#}
    {#            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="#}
    {#            crossorigin="anonymous"></script>#}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!---css--->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--- css--->
    <link rel="stylesheet" href="{% static 'product_manager_ices/css/style.css' %}">
    <!---JS/Bootstrap--->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <script src="{% static 'product_manager_ices/js/main.js' %}"></script>
</head>

<body>
<header>
    <div class="container px-0 pb-1">
        {% block navbar %}
            <!-- NAVBAR-->
            {% include "upper_navbar.html" %}
        {% endblock %}
        <!--django messages--->
        <div class="text-center">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} p-1 mb-1 col-md-3 offset-md-5 ">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</header>
<main>
    <div class="container ">

        {% block content %}

        {% endblock %}
    </div>
</main>

<footrer>
    {% block footer %}
    {% endblock %}
</footrer>

</body>

</html>