{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load cloudinary %}
{% block content %}
    <section>
        <div class="jumbotron">
            <h1 class="display-4 text-center">LYNX&WASP</h1>
            <hr class="my-4">
            <p class="text-center">ICE ROLLES</p>
            <p class="text-center"><a class="btn btn-primary btn-lg text-center" href="{% url 'create-order' %}"
                                      role="button">Order Something</a></p>
        </div>
    </section>
{% endblock %}
