{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="text-center mt-1">
        <div class="col-md-5 d-inline-block bg-light border border-dark rounded">
            <form method="post" action="{% url 'add-ice' %}">
                <legend class="border-bottom mb-4"> Add Type and Price</legend>
                {% csrf_token %}
                {{ form_type|crispy }}
                <div class="form-group text-center">
                    <button class="btn btn-outline-info" type="submit"> Add Type</button>
                </div>
            </form>
        </div>
        <div class="col-md-6 d-inline-block bg-light border border-dark rounded align-top">
            <form method="POST" action="{% url 'add-ice' %}">
                {% csrf_token %}
                <fildset class="form-group">
                    <legend class="border-bottom mb-4"> Add Flavour</legend>
                    {{ form_flavour|crispy }}
                </fildset>
                <div class="form-group text-center">
                    <button class="btn btn-outline-info" type="submit"> Add Flavour</button>
                </div>
            </form>
        </div>
    </article>
{% endblock %}
