{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load cloudinary %}
{% block content %}
    <section>
        <article>
            <div class="row">
                <div class="col-8 pl-0 pr-1">
                    <form class="p-0 m-0" method="post">{% csrf_token %}
                        <!--form to add orderitem-ice -->
                        <div class="border border-primary rounded col-md-8 d-inline-block p-0"
                             id="form-to-add-type-ice">
                            <div class="form-group mb-0 text-center">
                                <label class="mb-0 ">TYPE OF ICE</label>
                                <div class="radio-toolbar">
                                    {% for radio in add_order_form.ice %}
                                        {{ radio.tag }}
                                        <label for="{{ radio.id_for_label }}" id="{{ radio.choice_label }}">{{ radio.choice_label }}</label>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                        <!--form to add quantity-->
                        <div class=" d-inline-block col-md-3 align-text-bottom ml-3"
                             id="form-to-quantity">

                            <label class="d-none" for="{{ add_order_form.quantity.id_for_label }}">Quantity</label>
                            <div class="add-odd-button d-inline-block col-md-4 bg-info text-center rounded border-dark border ">
                                <span class="minus add-odd-button">-</span>
                            </div>
                            <div class=" d-inline-block col-md-3 text-center pl-1"><input type="number" class="count"
                                                                                          name="{{ add_order_form.quantity.html_name }}"
                                                                                          value="{{ add_order_form.quantity.value }}"
                                                                                          min="{{ add_order_form.quantity.initial }}"
                                                                                          required
                                                                                          id="{{ add_order_form.quantity.id_for_label }}">
                            </div>
                            <div class="add-odd-button d-inline-block col-md-4 bg-info text-center rounded border-dark border">
                                <span class="plus">+</span>
                            </div>
                        </div>

                        <!--form to add flavour-->
                        <div class="flavour-toolbar col-md-12 m-0 p-1 ">
                            {% for radio in add_order_form.flavour %}
                                {{ radio.tag }}
                                <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                            {% endfor %}
                        </div>
                        <!--button to add to cart-->
                        <div class="addtocart text-center col-md-12">
                            <input class="btn btn-success btn-lg" type="submit" value="Add to cart">
                        </div>
                    </form>
                </div>
                <div class="col-4 p-0" id="cart">
                    <!-- CART -->
                    {% if order_in_cart %}
                        <div class="insideofcart border border-primary rounded d-inline-block bg-light py-1">
                            <h1 class="text-center">CART</h1>
                            <!-- postpone or delete order-->

                            <div class="order_list my-1">
                                <ul class="list-unstyled">
                                    {% for ices in order_in_cart.ices_ordered.all %}
                                        <form action="{% url 'delete_oi' id=ices.id %}" method="post">
                                            {% csrf_token %}
                                            <li class="my-2">{{ ices }}<span class="float-right "><input
                                                    class="btn btn-primary btn-sm"
                                                    type="submit"
                                                    value="Delete"></span></li>
                                        </form>
                                    {% endfor %}
                                    <p>Total:{% if sumarize %}Sum: {{ sumarize }}zł{% else %} 0zł {% endif %}</p>
                                </ul>
                            </div>

                            <div class="text-right">

                                <a href="{% url 'postpone_order' id=order_in_cart.id %}"
                                   class="btn btn-primary btn-lg">Postpone</a>
                                <form class="d-inline" method="POST"
                                      action="{% url 'delete_order' pk=order_in_cart.id %}">
                                    {% csrf_token %}
                                    <input class="btn btn-outline-danger btn-lg" type="submit" value="Delete">
                                </form>

                            </div>


                        </div>
                        <!-- Button trigger modal -->
                        <div class=" col-md-12 text-center  mt-5">
                            <button id="paybutton" type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                                    data-target="#exampleModalCenter">
                                PAY
                            </button>
                        </div>
                    {% else %}
                        <div class="text-center border border-dark rounded">
                            <h1>Cart</h1>
                            <h3>No product in the cart</h3>
                        </div>

                    {% endif %}

                </div>
            </div>
        </article>



        {% if order_in_cart %}
            <article>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalCenterTitle">Order Cart</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body mb-0">
                                <form method="post" action="{% url 'change_to_finish' id=order_in_cart.id %}">
                                    {% csrf_token %}
                                    <div id="div_id_content" class="form-group mb-0">
                                        <div class="border rounded border-primary mb-2">
                                            <ul class="d-inline-block">
                                                {% for ices in order_in_cart.ices_ordered.all %}
                                                    {% csrf_token %}
                                                    <li>{{ ices }}</li>
                                                {% endfor %}
                                            </ul>
                                            <p class="d-inline-block float-right">Sum:{{ sumarize }} zł</p>
                                        </div>
                                        <!-- Callculator for counting change  -->

                                        <div id="sumtopay" value="{{ sumarize }}">
                                            <label for="clientmoney">Calculator</label>
                                            <input type="number" id="clientmoney">

                                            <label class="border rounded">Change:</label>
                                            <output id="clientchange">zł</output>
                                        </div>
                                        <div class="text-center mt-2">
                                            <input class="btn btn-outline-success mx-auto btn-lg"
                                                   id="finish-order-btn"
                                                   type="submit"
                                                   value="Finish">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

        {% endif %}


    </section>

{% endblock content %}


