{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load cloudinary %}
{% block content %}
<section>
    <article>
        <div class="row">
            <div class="col-8 pl-0 pr-1">
                <form class="p-0 m-0" method="post" id="orderitem-form">
                    {% csrf_token %}
                    <!--form to add orderitem-ice -->
                    <div class="border border-primary rounded col-md-7 d-inline-block p-0"
                         id="form-to-add-type-ice">
                        <div class="form-group mb-0 text-center">
                            <label class="mb-0 ">TYPE OF ICE</label>
                            <div class="radio-toolbar">
                                {% for radio in add_order_form.ice %}
                                {{ radio.tag }}
                                <label for="{{ radio.id_for_label }}"
                                       id="{{ radio.choice_label }}"
                                       class="text-uppercase">{{ radio.choice_label }}</label>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!--form to add quantity-->
                    <div class=" d-inline-block col-md-4 p-0 pl-4 pt-md-4 text-center align-top"
                         id="form-to-quantity">
                        <label class="d-none" for="{{ add_order_form.quantity.id_for_label }}">Quantity</label>
                        <div class="add-odd-button d-inline-block bg-info text-center rounded border-dark border minus">
                            <span class=" add-odd-button">-</span>
                        </div>
                        <div class="d-inline-block text-center" style="width: 25%">
                            <input type="number"
                                   class="count"
                                   name="{{ add_order_form.quantity.html_name }}"
                                   value="{{ add_order_form.quantity.value }}"
                                   min="{{ add_order_form.quantity.initial }}"
                                   required
                                   id="{{ add_order_form.quantity.id_for_label }}"
                                   onKeyDown="return false">
                        </div>
                        <div class="add-odd-button d-inline-block bg-info text-center rounded border-dark border plus">
                            <span class=" add-odd-button">+</span>
                        </div>
                    </div>
                    <!--form to add flavour-->
                    <div class="flavour-toolbar col-md-12 m-0 p-1 ">
                        {% for radio in add_order_form.flavour %}
                        {{ radio.tag }}
                        <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                        {% endfor %}
                    </div>
                    <!--button to add to cart-->
                    {% if opened_order %}
                    <div class="addtocart text-center col-md-12">
                        <input class="btn btn-success btn-lg" type="submit" value="Add to cart">
                    </div>
                    {% endif %}
                </form>
                {% if not opened_order %}
                <form action="{% url 'open-order' %}" method="post">
                    {% csrf_token %}
                    <div class="text-center col-md-12">
                        <input class="btn btn-warning btn-lg"
                               type="submit"
                               id="openedOrder"
                               value="Open Order">
                    </div>
                </form>
                {% endif %}
            </div>
            <!-- CART -->
            {% include "common/cart.html" %}
        </div>
    </article>
    {% if opened_order %}
        {% include "common/sum_up.html" %}
    {% endif %}
</section>
{% endblock content %}
