{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load cloudinary %}
{% block content %}

    <form method="post">{% csrf_token %} <!--form to add orderitem-ice -->
        {% for choice in add_ice_form %}
            {{ choice.choice_label }}
            <span class="radio">{{ choice.tag }}</span>
        {% endfor %}
        {{ add_order_form|crispy }}


        <input type="submit" value="Add to cart">
    </form>


    {#List of products in cart#}
    <div>
        <h1 class="d-inline">CART</h1>
        {% if order_in_cart %}

            <ul>
                {% for ices in order_in_cart.ices_ordered.all %}
                    <form action="{% url 'delete_oi' id=ices.id %}" method="post">
                        {% csrf_token %}
                        <li>{{ ices }}<input type="submit" value="Delete"></li>
                    </form>
                {% endfor %}
            </ul>
            <a class="btn btn-primary" id="checkout">Pay</a>
            <div class="bg-modal"><!-- popup window to confirm order-->
                <div class="modal-contents">

                    <div class="close">+</div>             <!-- form to sumarize payment -->
                    <form method="post" action="{% url 'change_to_finish' id=1 %}" style="display: block">
                        {% csrf_token %}
                        <label>Order: </label>
                        <div id="div_id_content" class="form-group">
                            <ul>

                                {% for ices in order_in_cart.ices_ordered.all %}
                                    {% csrf_token %}
                                    <li>{{ ices }}</li>
                                {% endfor %}

                            </ul> <!-- Callculatro for counting change  -->
                            <div id="sumtopay" value="{{ sumarize }}"><p>Sum:{{ sumarize }} zł</p>
                                <label>Calculator</label>
                                <input type="number" id="clientmoney">
                                <label>Change:</label>
                                <output id="clientchange">zł</output>
                            </div>

                        </div>
                        <input type="submit" value="Finish">
                    </form>

                </div>
            </div>
        {% endif %}
    </div>



{% endblock content %}


