/*css for popupwidnow to add tweet*/
.container{
    position: relative;
}


.bg-modal {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-contents {

    width: 500px;
    background-color: white;
    padding: 20px;
    position: relative;
    border-radius: 4px;
}


.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
	&:hover {
		color: #666;
	}
}
/*radio buttons to chose type of ice */
.radio-toolbar {
  margin: 10px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
    width: 20%;
    text-align: center;
}

.radio-toolbar label:hover {
  background-color: #dfd;
}

.radio-toolbar input[type="radio"]:focus + label {
    border: 2px dashed #444;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
}


/*checkbox to add flavoures*/
.flavour-toolbar {
  margin: 10px;
}

.flavour-toolbar input[type="checkbox"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.flavour-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
    width: 20%;
    text-align: center;
}

.flavour-toolbar label:hover {
  background-color: #dfd;
}

.flavour-toolbar input[type="checkbox"]:focus + label {
    border: 2px dashed #444;
}

.flavour-toolbar input[type="checkbox"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
}
/*end*/


/*buttons plus minu qunter*/
